:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --another-accent-color: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}

.accent-web {
  color: var(--primary-accent-color);
}

.logo .accent-web:hover,
.logo .acent-web:focus,
.logo:hover,
.logo:focus {
  color: var(--secondary-accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-accent-color);
}

.site-nav .link.current {
  color: var(--primary-accent-color);
}

/* Address */

.address .link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--secondary-accent-color);
}

/* Hero */

.hero {
  background-color: var(--title-text-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero button {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.hero button:hover,
.hero button:focus {
  color: var(--primary-accent-color);
  background-color: var(--another-accent-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.subsection-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team .subsection-title,
.team .text {
  text-align: center;
}

/* Filters */

.filters button {
  color: var(--primary-accent-color);
  background-color: var(--another-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.filters button:active,
.filters button:hover,
.filters button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}

/* Examples */

.examples .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
}

.footer .logo,
.footer .text {
  color: var(--another-accent-color);
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--secondary-accent-color);
}
